@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(0.99 0.0041 174.47);
  --foreground: oklch(0.28 0.0157 196.3);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.28 0.0157 196.3);

  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(15% 0.02 180);

  --primary: oklch(0.48 0.0932 168.55);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.68 0.0863 201.65);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.97 0.0068 247.9);
  --muted-foreground: oklch(0.55 0.0407 257.44);

  --accent: oklch(0.78 0.0868 199.98);
  --accent-foreground: oklch(0.28 0.0157 196.3);

  --destructive: oklch(0.64 0.2078 25.33);
  --destructive-foreground: oklch(0.98 0.0035 247.86);

  --border: oklch(0.93 0.0126 255.53);
  --input: oklch(0.93 0.0126 255.53);
  --ring: oklch(0.68 0.0863 201.65);

  --radius: 0.625rem;

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.21 0.0102 196.41);
  --foreground: oklch(0.98 0 0);

  --card: oklch(0.25 0.0131 196.34);
  --card-foreground: oklch(0.98 0 0);

  --popover: oklch(0.21 0.0102 196.41);
  --popover-foreground: oklch(0.98 0 0);

  --primary: oklch(0.53 0.0993 169.46);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.6 0.0815 201.77);
  --secondary-foreground: oklch(0.98 0 0);

  --muted: oklch(0.32 0.0183 196.26);
  --muted-foreground: oklch(0.71 0.0351 256.79);

  --accent: oklch(0.65 0.0904 200.05);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.4 0.1331 25.72);
  --destructive-foreground: oklch(0.98 0.0035 247.86);

  --border: oklch(0.32 0.0183 196.26);
  --input: oklch(0.32 0.0183 196.26);
  --ring: oklch(0.58 0.0723 201.64);

  --radius: 0.625rem;

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground min-h-svh w-full;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 16px !important;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility faded-bottom {
  @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_var(--background)_70%)] md:after:block;
}

/* styles.css */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
